version: '3'

services:
  pulsar:
    restart: always
    image: apachepulsar/pulsar:2.10.3
    ports:
      - "6650:6650"
      - "8080:8080"
    command: >
      /bin/bash -c "bin/pulsar standalone"
    volumes:
      - ./pulsarconf/standalone.conf:/pulsar/conf/standalone.conf
